*{
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "udemy sans",Helvetica,Arial,sans-serif;
}

a{
  all:unset;
}

h2{
  font-family: serif;
  font-size: 2.2rem;
  margin-bottom: 10px;
}

main{
  width: 85%;
  margin: 40px auto 20px auto;
}

main h2{
  font-family: Georgia,Times,"times new roman",serif;
  margin-bottom: 15px;
}


main p{
  font-size: 18px;
}
section{
  margin-bottom: 10px;
}

@media only screen and (max-width: 720px) {
  h2, main h2{
    font-size: 1.8rem;
  }
}